@use "../utils/variables" as v;

.socials_item {
    width: 44px;
    height: 44px;

    padding: 12px;
    border-radius: 50%;
    

    transition: background-color 250ms v.$animation-timing-function;

    cursor: pointer;

    &:not(:last-child) {
        margin-right: 10px;
    }

        &:hover {
            background-color: v.$accent-color;
        }
    }


