%btn {
    display: block;
    border: none;
    border-radius: 4px;

    font-size: 16px;

    cursor: pointer;
}
%flex-centered {
    
    display: flex;
    align-items: center;
    justify-content: center;
}