    $main-text-font: "Roboto";
    $logo-font: "Raleway";
    $primary-text-color: #757575;
    $title-text-color: #212121;
    $secondary-text-color: #ffffff;
    $accent-color: #2196f3;
    $light-theme-logo-color: #000000;
    $dark-theme-logo-color: #fff;
    $btn-hover: #188ce8;
    $animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
